{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Collection: {{ object.name }}</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Name: {{ object.name }}</h1>
        <div class="row">
            {% for book in object.books.all %}
                <div class="card col-3 m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{book.name}}</h5>
                        <p class="card-text">Description: {{book.description}}</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a type="button" class="card-link btn btn-primary" href="{% url 'books:view' book.id %}">
                                View
                            </a>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:'3' %}<div class="col-12">
                    <hr>
                </div>{% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}